@use '@styles/autoload.scss' as *;
@mixin skillItem {
  .skills_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    ion-icon {
      font-size: rem(40px);
      font-weight: 100;
      color: $dark-color;
      transition: $transition;
      margin-bottom: rem(20px);
    }

    span {
      text-align: center;
      font-size: $font-size-sm;
      transition: $transition;
      color: $dark-color-950;
      font-weight: $font-weight-bold;
    }

    &:hover {
      ion-icon {
        color: $secondary-color-500;
        transition: $transition;
      }

      span {
        color: $secondary-color-500;
        transition: $transition;
      }
    }
  }
}
