@use '@styles/autoload.scss' as *;
@use '../molecules/navList.scss' as *;

@mixin headerNavbar() {
  .header_navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include navList;
  }

  @include responsive {
    .header_navbar {
      overflow: visible;
      width: auto;
    }
  }
}
