@use '@styles/autoload.scss' as *;
@use '../molecules/breadcrumbList.scss' as *;

@mixin breadcrumbs {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: rem(14px) rem(16px);
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  border-bottom: rem(1px) solid var(--border-color-light);
  z-index: 1;

  .breadcrumb_container {
    width: 100%;
    max-width: rem(1440px);
    padding: 0 rem(10px);
  }

  @include breadcrumbList;

  @include responsive {
    padding: rem(18px) rem(24px);

    .breadcrumb_container {
      padding: 0 rem(40px);
      padding-left: rem(80px);
    }
  }
}
