@use '@styles/tokens.fonts.scss' as *;
@forward '@styles/tokens.fonts.scss';

@font-face {
  font-family: Centra;
  src: url('../assets/fonts/CentraNo2-Bold.ttf');
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: Centra;
  src: url('../assets/fonts/CentraNo2-Medium.ttf');
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: Centra;
  src: url('../assets/fonts/CentraNo2-Book.ttf');
  font-weight: $font-weight-regular;
}
