@use '@styles/autoload.scss' as *;
@use '../organisms/aboutContent.scss' as *;

@mixin aboutSection {
  .about-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    min-height: calc(100vh - rem(73px));
    color: var(--text-primary);
    background-color: var(--bg-primary);
    background-image: var(--gradient-dark);
    background-repeat: no-repeat;
    background-position: right top;

    padding: rem(50px) 0;
    z-index: 1;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: rem(20px);

      width: 100%;
      max-width: rem(1510px);
      background: transparent;
      z-index: 2;

      padding: rem(20px) rem(30px);

      h2 {
        align-self: center;
        text-align: center;
        color: var(--accent-primary);
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin: 0;

        span {
          font-weight: $font-weight-bold;
        }
      }

      @include aboutContent;

      .custom-btn.variant.clickable {
        &::before,
        &::after,
        span::after,
        span::before {
          background-color: var(--accent-primary);
        }
      }
    }
  }

  @include responsive {
    .about-section {
      padding: rem(50px) 0;

      .container {
        padding: rem(20px) rem(80px);

        h2 {
          font-size: $font-size-xl;
        }
      }
    }
  }
}

html[data-theme='dark'] {
  .about-section {
    .contact-link img {
      filter: brightness(0) invert(1);
    }
  }
}

html[data-theme='light'] {
  .about-section {
    .contact-link img {
      filter: none;
    }
  }
}
