@use '@styles/autoload.scss' as *;

$navbar-gap: rem(6px);

.nav-shell__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $navbar-gap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  @include responsive {
    flex-direction: column;
    overflow: visible;
    align-items: flex-start;
    width: auto;
  }
}
