@use '@styles/autoload.scss' as *;
@mixin projectsTitle {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: rem(1320px);

    padding: 0 rem(30px);
    margin-bottom: rem(20px);

    h1 {
      text-align: center;
      color: $primary-color;
      font-size: $font-size-xxl;
      padding-top: rem(50px);
      padding-bottom: rem(0px);
    }

    .separator {
      width: 30%;
      height: rem(2px);
      background-color: $contrast-color;
      margin: rem(20px);
    }

    p {
      text-align: center;
      width: 100%;
      max-width: rem(900px);

      color: $contrast-color-100;
      font-size: $font-size-sm;
      letter-spacing: rem(0.8px);
      line-height: 1.5;

      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      opacity: 1;
      transform-style: preserve-3d;
    }

    span {
      color: $primary-color;
    }
  }
}
