@use '@styles/autoload.scss' as *;
@mixin categoriesComponent {
  li {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn_desactive,
    .btn_active {
      font-size: $icon-size-sm;
      color: var(--text-tertiary);
      border-right: 1px solid var(--accent-primary);
      padding: rem(8px) rem(10px);

      transition: $transition;

      &:hover {
        color: var(--text-muted);
        transition: $transition;
      }

      &:last-child {
        border-right: none;
      }
    }

    .btn_desactive {
      border-bottom: 1px solid transparent;
      transition: $transition;

      &:hover {
        transition: $transition;
        border-bottom: 1px solid var(--border-color-light);
        color: var(--accent-primary-400);
      }
    }

    .btn_active {
      color: var(--accent-primary);
      transition: $transition;
      border-bottom: 1px solid var(--border-color-light);

      &:hover {
        color: var(--accent-primary-400);
        border-bottom: 1px solid var(--text-muted);
      }
    }
  }

  @include responsive {
    li {
      .btn_desactive,
      .btn_active {
        font-size: $font-size-lg;
      }
    }
  }
}
