@use '@styles/autoload.scss' as *;

@mixin buttons {
  .buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: rem(20px);
  }

  @include responsive {
    .buttons {
      flex-direction: row;
    }
  }
}
