@use '@styles/autoload.scss' as *;
@mixin title {
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: rem(1px);

    h1 {
      text-align: right;
      font-size: rem(13px);
      color: var(--text-secondary);
      line-height: 1.3;
    }

    span {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      color: var(--text-muted);
      font-size: rem(11px);
      line-height: 1.3;

      .separator {
        display: none;
      }
    }
  }

  @include responsive {
    .title {
      align-items: start;
      gap: rem(10px);

      h1 {
        text-align: left;
        font-size: $icon-size-md;
        color: var(--text-secondary);
        line-height: 1.2;
      }

      span {
        flex-direction: column;
        align-items: flex-start;
        gap: rem(20px);

        color: var(--text-muted);
        font-size: $font-size-lg;
        line-height: 1.3;

        .separator {
          display: none;
        }
      }
    }
  }
}
